{% extends 'base.html' %}

{% block title %}
Forming a database
{% endblock %}

{% block body %}
<div class="container mt-5">
    <h1>Enter the information about the embryologist</h1>
    <form method="post">
        <input type="text" name="name" id="name" class="form-control" placeholder="Enter name and surname"><br>
        <textarea name="work_clinic" id="work_clinic" class="form-control" placeholder="Enter the clinic, where embryologist work"></textarea><br>
        <textarea name="education" id="education" class="form-control" placeholder="Enter sciense degree"></textarea><br>

        <input type="submit" class="btn btn-success" value="Sent">
    </form>
</div>
{% endblock %}